<div class="row">
    <div=class="col-8">
        <h1>IMAGEN DE REFERENCIA</h1>
    </div>

    <div=class="col-4">
        <img src="/pubic/assets/img/billetes.png" class="img-thumbnail">
    </div>
</div>